.mainLinks {
    margin-top: 1.5rem;
    justify-content: space-evenly;
    text-decoration: none;

    .nav-item {
        a {
            color: white;
            font-weight: 700;
            font-size: 12px;
            opacity: 0.3;
            text-decoration: none;
        }

        a:hover {
            opacity: 1;
            transition: 0.3s;
        }
    }
}